services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_HOST=0.0.0.0
      - VITE_API_URL=http://127.0.0.1:8000
    restart: unless-stopped
    env_file:
      - ./.env
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"
      - "traefik.http.routers.disposable-camera.rule=Host(`${DOMAIN}`) && PathPrefix(`/`)"
      - "traefik.http.routers.disposable-camera.entrypoints=websecure"
      - "traefik.http.routers.disposable-camera.tls=true"
      - "traefik.http.routers.disposable-camera.tls.certresolver=production" # May want to try staging before production as production has a rate limit
      - "traefik.http.services.disposable-camera.loadbalancer.server.port=5173"
    networks:
      - "traefik-proxy"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
      - ./server/uploads:/app/uploads
    environment:
      - ENVIRONMENT=development
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"
      - "traefik.http.routers.disposable-camera-backend.ruleHost(`api.${DOMAIN}`) && PathPrefix(`/`) "
      - "traefik.http.routers.disposable-camera-backend.entrypoints=websecure"
      - "traefik.http.routers.disposable-camera-backend.tls=true"
      - "traefik.http.routers.disposable-camera-backend.tls.certresolver=production" # May want to try staging before production as production has a rate limit
      - "traefik.http.services.disposable-camera-backend.loadbalancer.server.port=8000"
    networks:
      - "traefik-proxy"

networks:
  traefik-proxy:
    external: true
